## 수집과 분석 
* 수집
* 분석
* ***저장***
* ~~머신러닝~~
* Cell 실행하는 단축키
  * alt + enter = cell 실행 + cell 추가
  * ctl + enter = cell 실행
  * shift + enter = cell 실행 + 커서 아래로 ( 하위 셀이 없다면 추가도 해줌 )
  
* [jupyter equation](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Typesetting%20Equations.html)  
* This site was built using [GitHub Pages](https://pages.github.com/).

Text that is not a quote

> Text that is a quote

\begin{equation*}
\left( \sum_{k=1}^n a_k b_k \right)^2 \leq \left( \sum_{k=1}^n a_k^2 \right) \left( \sum_{k=1}^n b_k^2 \right)
\end{equation*}

\begin{gather*}
a_1=b_1+c_1\\
a_2=b_2+c_2-d_2+e_2
\end{gather*}

| This | is   |
|------|------|
|   a  | table|

In [1]:
lang = 'python'
myStr = '{} 언어'.format(lang)
myStr

'python 언어'

In [2]:
myStr2 = f'{lang} 언어'
myStr2

'python 언어'

In [5]:
myNumber = 12345678
print(f'{myNumber:,} 숫자')

12,345,678 숫자

In [7]:
myNumber = 1234.5678
print(f'{myNumber:.2f} 숫자')

1234.57 숫자

### List Comprehension
* [Code Style](https://docs.python-guide.org/writing/style/)
* [Pythonic Code](https://nunenuh.medium.com/how-to-write-pythonic-code-e19b1562fd5)

In [3]:
squares = []
for i in range(10): #0~9
    if i % 2 == 0: #짝수
        squares.append(i * i)

print(squares)

[0, 4, 16, 36, 64]

In [4]:
# list comprehension
squares2 = [i*i for i in range(10) if i % 2 == 0]
squares2

[0, 4, 16, 36, 64]

In [8]:
'H e l l o'.split(' ')

['H', 'e', 'l', 'l', 'o']

In [8]:
def get_text_list():
    lists = []
    with open('data/yesterday.txt', 'r',encoding="utf8") as file:
        contents = file.read()
        lists = contents.split("\n")
    
    #rint(lists)
    return lists

In [9]:
lyric_list = get_text_list()
print(len(lyric_list))
lyric_list2 = [lyric for lyric in lyric_list if len(lyric) != 0]
print(len(lyric_list2))

23
17

In [10]:
my_list = ['a','b','c']
my_list[0:2]

['a', 'b']

In [13]:
my_list[2:]

['c']

In [14]:
my_list[:2]

['a', 'b']

In [13]:
for idx,val in enumerate(['a','b','c'],1):
    print(idx, val)

1 a
2 b
3 c

In [16]:
# range() 와 numpy의 arange() 함수 비교
print(list(range(10)))
for data in range(10):
    print(data)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
0
1
2
3
4
5
6
7
8
9

In [14]:
def swap(a,b):
    return (b,a)

In [17]:
a,b = swap(10,30)
print(a)
print(b)

30
10

In [18]:
#packing
my_list = ['aa','bb']
my_list

['aa', 'bb']

In [19]:
#unpacking
val1,val2 = my_list
print(val1,val2)

aa bb

In [20]:
import numpy as np

np.arange(1,11)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [21]:
#lambda x, loc: "{:,}".format(int(x)
def my_format(val):
    return "{:,}".format(int(val))

In [22]:
my_format("1028326272727")

'1,028,326,272,727'

In [23]:
result = lambda val:"{:,}".format(int(val))

In [24]:
result("38383823823940")

'38,383,823,823,940'

In [26]:
dt_list=['정당','선거구','당선횟수']
dd_list=['더불어민주당','대전 중구','초선(제21대)']
for data in zip(dt_list,dd_list):
    print(data)

('정당', '더불어민주당')
('선거구', '대전 중구')
('당선횟수', '초선(제21대)')

In [27]:
dict(zip(dt_list,dd_list))

{'정당': '더불어민주당', '선거구': '대전 중구', '당선횟수': '초선(제21대)'}

In [34]:
#age = today.year - birth.year - ((today.month, today.day) < (birth.month, birth.day))
#calc_age(date(1990,1,1))   calc_age(date(1990,12,17)
(12,15) < (1,1)  # False0

False

In [30]:
(12,15) < (12,17) # True 1

True