#### 행정구역 정보 읽고, 분석하기
1. read_csv() 함수로 csv file 읽어서 DataFrame 객체생성하기
2. loc 과 iloc를 사용해서 특정행과 열을 선택하기
3. 컬럼명 변경하기
4. 상관관계 분석 (인구수와 면적간의 상관관계)
5. 시각화

In [5]:
import pandas as pd
print(pd.__version__)

data = pd.read_csv('data/data_draw_korea.csv')
print(type(data))
print(data.shape)

1.5.3
<class 'pandas.core.frame.DataFrame'>
(229, 8)

In [10]:
data.head()

   Unnamed: 0     인구수 shortName   x  y       면적 광역시도 행정구역
0           0  202520        강릉  11  4  1040.07  강원도  강릉시
1           1   25589    고성(강원)   9  0   664.19  강원도  고성군
2           2   86747        동해  11  5   180.01  강원도  동해시
3           3   63986        삼척  11  8  1185.80  강원도  삼척시
4           4   76733        속초   9  1   105.25  강원도  속초시

In [11]:
data.tail()

     Unnamed: 0     인구수 shortName  x   y      면적  광역시도 행정구역
224         224  127462        제천  8  10  882.47  충청북도  제천시
225         225   34480        증평  6  11   81.84  충청북도  증평군
226         226   62809        진천  5  11  406.08  충청북도  진천군
227         227  790216        청주  6  12  932.51  충청북도  청주시
228         228  198077        충주  6  10  983.70  충청북도  충주시

In [15]:
data.sample(3)

    Unnamed: 0     인구수 shortName   x   y      면적   광역시도 행정구역
98          98  330830      대구동구  11  13  182.35  대구광역시   동구
17          17   39668        횡성  10   5  997.82    강원도  횡성군
67          67  251220        경산  11  12  411.58   경상북도  경산시

In [16]:
print(f'컬럼명 : {data.columns}')
print(f'인덱스 : {data.index}')

컬럼명 : Index(['Unnamed: 0', '인구수', 'shortName', 'x', 'y', '면적', '광역시도', '행정구역'], dtype='object')
인덱스 : RangeIndex(start=0, stop=229, step=1)